:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;
  color: rgb(54, 81, 62);
  background: radial-gradient(circle, rgb(177, 182, 141), rgb(116, 151, 204));
  min-height: 100vh; /* Ensure the container extends to at least the full height of the viewport */
  background: radial-gradient(circle, rgb(237, 84, 70), rgb(255, 255, 255));
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */

  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 6vmin;
  

}
form {
  border: 2px solid rgb(54, 81, 62);
  background-color: rgba(242, 250, 245, 0.531);
  color: rgb(232, 157, 157);


}
input, textarea {
  background-color: rgb(234, 180, 180);
 
}

input[type="submit"] {
  background-color: #d76055;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 2vmin;
}
label {
  display: block;
  /* margin-bottom: 5px; */
}
.home {
  font-size: 8vmin;
  /* height: 100vmin; */
}

/* .contact {
  height: 100vmin;
} */
.nav a {
  color: rgb(54, 81, 62);
  font-size: 3vmin;
  text-decoration: underline;
  transition: text-decoration 0.8s ease-out;
}
.nav a:hover {
  text-decoration:none; 
  font-style: italic;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.contact {
  padding-top: 10vmin;
  text-align: center;
}
.me {
  width: 40vmin;
  height: 60vmin; 
  border-top-left-radius: 50%; 
  border-top-right-radius: 50%; 
  border: 5px solid rgb(0, 0, 0);
}
.pic-me {
  display: flex;
}
.about h6 {
  font-size: 2vmin;
}




/* PROJECT */
.projects-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

.project {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.project h1 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #333;
}

.project h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}

.project h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #777;
}

.project img {
  max-width: 100%;
  border-radius: 5px;
}
